<div class="main-application" fadeInAnimation>
    <div class="loading-wrapper" *ngIf="isLoading">
        <loading [message]="loadingMessage"></loading>
    </div>
    <div class="tool-bar" *ngIf="!isLoading">
        <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Normalized Image With" value="300" (input)="normalizedImageWithChanged($event)">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput type="number" placeholder="Normalized Image Height" value="300" (input)="normalizedImageheightChanged($event)">
        </mat-form-field>
        <button mat-raised-button (click)="downloadImages()" *ngIf="!showDragAndDrop">Download Images</button>
        <button mat-raised-button (click)="uploadNewImages()" *ngIf="!showDragAndDrop">Upload New Images</button>
    </div>
    <div class="image-upload-container" *ngIf="!isLoading">
        <div class="image-upload-text">

        </div>
        <div class="import-images-component" *ngIf="showDragAndDrop" fadeInAnimation>
            <import-images (importedImages)="importedImages($event)"></import-images>
        </div>
    </div>    
    <div class="image-statistics" *ngIf="!showDragAndDrop && !isLoading" fadeInAnimation>
        <numeric-board text="Number of Images" value="{{numberOfImages | number:'1.0-0'}}"></numeric-board>
        <numeric-board text="Number of found faces" value="{{numberOfFoundFaces | number:'1.0-0'}}"></numeric-board>
        <numeric-board text="Faces per image" value="{{facesPerImage | number:'1.0-1'}}"></numeric-board>
        <numeric-board text="Number of Images Without Faces" value="{{numberImagesWithoutFaces | number:'1.0-0'}}"></numeric-board>
        <numeric-board text="Number of Images" value="{{numberOfImages | number:'1.0-0'}}"></numeric-board>
    </div>
    <div class="images-wrapper" *ngIf="!isLoading">
        <div class="images" *ngIf="!showDragAndDrop" fadeInAnimation>
            <div class="header">
                Uploaded Images
            </div>
            <div class="image" *ngFor="let image of images">
                <img src="{{image}}"/>
            </div>
        </div>
        <div class="faces" *ngIf="!showDragAndDrop" fadeInAnimation>
            <div class="header">
                Extracted Faces
            </div>
            <div class="face" *ngFor="let face of faces">
                <img src="{{face}}"/>
            </div>
        </div>
        <div class="normalized-images" *ngIf="!showDragAndDrop" fadeInAnimation>
            <div class="header">
                <div class="refresh-icon" (click)="refreshNormalizedImages()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
                </div>
                <span>Normalized Images</span>
            </div>
            <div class="normalized-image" *ngFor="let normalizedImage of normalizedImages">
                <img src="{{normalizedImage}}"/>
            </div>
        </div>
    </div>    
    
</div>